.announcement-section {
  padding: 1rem 2rem;
  background:  #6ab9f5;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filters select,
.filters input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.announcement-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 280px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.date {
  color: gray;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

button {
  margin-top: 0.5rem;
  background: #0021a5;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}
